/*For Mentors CSS*/
.formentors{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

p.title{
	margin-bottom: 1.5em;
	font-weight: 600;
	font-size: 2em;
}

p.body{
	margin-bottom: 4em;
	font-size: 1.25em;
}


/*For Interns CSS*/
.forinterns{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8em;
}

.forinterns a{
	display: block;
	margin-bottom: .5em;
	color: #4364fb;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.25em;
}

.forinterns a:visited{
	color: #4364fb;
}

body {
	padding-bottom: 2.5em;
}