/*For Mentors CSS*/
.formentors{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

p.title{
	margin-bottom: 1.5em;
	font-weight: 600;
	font-size: 1.6em;
}

p.body{
	margin-bottom: 4em;
	font-size: 1.1em;
}


/*For Interns CSS*/
.forinterns{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8em;
}

.forinterns a{
	display: block;
	margin-bottom: .5em;
}

.forinterns a:visited{
	color: blue;
}