/*Header*/
iframe{
	width: 100%;
	border: 0;
}

iframe#head{
	height:22vmax;
	background-image: url("https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/starfield-banner.jpg");background-repeat: repeat-x;
}

iframe#foot {
	height:18vmax;
}

iframe#content{
	padding-bottom: 4em;
}

#header {
	width: 100%;
	font-family: 'Titillium Web', sans-serif;
	padding-bottom: 2em;
	margin-bottom: 3em;
}

#header li {
	display: inline;
	float: left;
	line-height: 2.5vmax;
	height: 4vmax;
}

.vl {
	border-left: 1px solid white;
	height: 4vmax;
	float: left;
	margin-left: 2vw;
	margin-right: 2vw;
}

.header img{
	width: 10vw;
	height: auto;
	float: left;
}

li.spacer{
	border-left: 0px solid black;
	height: 4vmax;
	float: left;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
}

li.tab{
	margin-left: auto;
	margin-right: auto;
	width: 12%;
	text-align: center;
	padding-bottom: 0;
}

.ddtitle a{
	margin-left: auto;
	margin-right: auto;
}

.ddtitle, .dd a, .ddtitle a:hover p{
	color: white;
	text-decoration: none; 
	font-size: 1vmax;
}

.ddcontent {
	background-color: rgb(16, 64, 143); /*Dropdown Background Color*/
	z-index: 10;
	position: relative;
}

.tab:hover {
	background-color: rgb(16,64,143); /*Header Background Color*/
}

.ddcontent a{
	display: block;
	line-height: 4vmax;
}

.ddcontent a:hover{
	background-color: rgb(16, 41, 81); /*Dropdown Hover Background Color*/
}

.dd:hover .ddcontent{
	display: block !important;
	border-top: 1px solid white;
}

body {
	background-color: black;
}

/*Footer*/
.footer p {
	color: white;
}

.container {
	display: inline-block;
	vertical-align: top;
}

.footer hr{
    border:0;
    margin:0;
    width:75%;
    height:2px;
    background:white;
}

.footer {
	width: 100%;
	text-align: center;
	margin-top: 2em;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.1vmax; 
}

.container {
	width: 20%;
	text-align: center;
}

.container a,p {
	margin-bottom: 3px;
}

p.footertitles {
	margin-bottom: 10px;
}

.footercontent, .footercontent {
	display: block;
}

.footercontent {
	text-align: left;
	padding-left: 4vw;
}

.toe {
	margin-top: 2vmax;
	margin-bottom: 2vmax;
}

.toe p {
	margin-bottom: 0;
}

.toe {
	display: inline;
}

.t1 {
	margin-top: 2em;
}

.t1, .t2, .t3 {
	float: clear;
	display: block;
	margin-bottom: .5vmax;
}

.t1C p, .t2C p, .t3C p {
	color: #4364fb;
}

.t1 p, .t2 p, .t3 p {
	display: inline;
}

p.a:hover {
	text-decoration: underline;
}

.footer a:visited{
	color: #4364fb;
}


/*Common*/
p {
	font-family: 'Titillium Web', sans-serif;
}

p.ctitle {
	font-size: 2em;
	color: white;
	margin-bottom: 1em;
	text-align: center;
}

p.csub {
	color: white;
	margin-bottom: 1em;
	text-align: center;
}


/*Mobile
@media only screen and (max-width: 600px) {
}
*/